.img {
  width: 196px;
  height: 196px;
  margin: 0 auto;
  background-image: url('/images/result.png');
}

.results {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
}

.subtitle {
  font-size: 28px;
  line-height: 32px;
  font-weight: 500;
}

.true {
  color: #2A8F55;
  font-weight: 700;
}

.false {
  color: #DF4C25;
  font-weight: 700;
}